#body {
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(240,45,253,1) 100%);
}

#about {
    text-indent: 1em;
}

.summary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;
    padding: 0.5em 1em;
    border-radius: 4em;
    border: 4px navy;
    border-style: inset;
    background-color: rgb(34,193,195);
    color: black;
}

#footer {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px skyblue;
    border-style: solid;
}
